body {
  font-family: sans-serif;
  padding: 5px;
  background: #bbe4e9;
}
h1 {
  text-align: center;
  color: #5585b5;
}
.text {
  margin-top: 20px;
  text-align: center;
}
.nav-links {
  text-align: center;
}
.nav-links a {
  margin: 10px;
  color: #53a8b6;
}
.croissant-pic {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
